*{
    color:#ffff;
}

body {
    background-image: url("../asserts/Image/bacground-theme-image.jpg");
    background-repeat: no-repeat;
    background-size: 1600px 700px;
    background-position: center;
    background-attachment: fixed;
}