.title h3 {
    text-align: center;
}


.flex-container {
    display : flex;
}


.flex-item {
    background-color: tomato;
    color:white;
    width : 100px;
    height : 50px;
    text-align: center;
    margin:20px;
    padding: 20px;
}

