.title {
    text-align: center;
}


.flex-container {
    display : flex;
  
}


.flex-item {
    box-shadow: 3px 3px 1.5px gray;
    background-color: tomato;
    color:white;
    width : 100px;
    height : 50px;
    text-align: center;
    margin:20px;
    padding: 20px;
}

