.container1 {
    border:2px solid green;
    margin-bottom:50px;
}

.container1 > p {
    display: inline;
    border:2px solid red;
   
}

.container2 {
    border:2px solid green;
    margin-bottom:50px;
}


.container2 > p {
    display: inline-block;
    border:2px solid blue;
    
}