
#content1 {
    color : white;
    background-color: red;
    font-size:25px;
}


#content2 {
    color : white;
    background-color: blue;
    font-size:20px;
}


#content3 {
    color : white;
    background-color: green;
    font-size:15px;
}