#content1{
    background-color:tomato;
    color:white;
}

#content2{
    background-color:olive;
    color:white;
}

#content3{
    background-color:blueviolet;
    color:white;
}

#content4{
    background-color:burlywood;
    color:white;
}