.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(177, 80, 164);
    
}


.item {
    margin : 20px;
    padding : 25px;
    background-color: rgb(32, 101, 154);
    color:white;
    text-align: center;
}


@media (max-width:440px){
    
    .container{
        background-color: rgb(73, 151, 185);
        flex-direction: column;
        align-items: space-around;

    }
}


@media ((min-width:441px) and (max-width:1030px)){
    
    .container{
        background-color: rgb(46, 28, 163);
        align-items: space-around;

    }
}



