/* pesudo - Selector */

a {
    text-decoration: none;
}

a:hover {
    background-color: pink;
    color:white;
}

a:focus {
    border: 2px solid red;
}

.page-link {
    padding:20px;
    margin:20px;
}