.container {
    background-color:rgb(231, 96, 96) ;
    color:white;
    width: 100px;
    height:100px;
    padding:20px;
    text-align:center;
    position: relative;
    top:100px;
    left:200px;

    transition : all 10s ease;
}

/* Pesudo-class-selector*/  
.container:hover{
    background-color: rgb(78, 6, 78);
    width:200px;
    transform: scale(1.1, 1.2) skew(20deg);
    box-shadow:10px 10px 0.5px gray;
}