.container {
    background-color:rgb(231, 96, 96) ;
    color:white;
    width: 100px;
    height:100px;
    padding:20px;
    text-align:center;
    transition : all 3s ease;
}
/* Pesudo-class-selector*/  

.container:hover {
    background-color: blueviolet;
    box-shadow: 5px 5px 1px gray;
    width: 120px;
    height: 120px;

}