 body {
    color:white;
    background-image: url("../Image/ajith1.jpg");
    background-repeat: no-repeat;
    background-position: top left;
    background-size : 1600px 780px;
    background-attachment: fixed;

 }