.text-color-white {
    color: #ffff;
}

.text-backgroundcolor-red {
    background-color: red;
}

.text-backgroundcolor-green {
    background-color: green;
}

.text-backgroundcolor-blue {
    background-color: blue;
}

.font-size-32 {
    font-size: 32px;
}