.txt-clr{
    color:white;
}

.txt-bg-clr-gr{
    background-color: green;
}

.txt-bg-clr-rd{
    background-color: red;
}

.txt-bg-clr-olv{
    background-color: olive;
}

.txt-fn-sz-32{
    font-size:32px;
}

.txt-fn-sz-24{
    font-size:24px;
}