.txt-clr-white{
    color:white;
}
.txt-clr-red{
    color:red;
}
.txt-bgclr-tomato{
    background-color: tomato;
}
.txt-bgclr-green{
    background-color: green;
}
.fns-32{
    font-size:32px;
}

.fns-64{
    font: size 64px;
}