.text-center {
    border:2px solid;
    text-align : center;
}
.text-left {
    border:2px solid;
    text-align : left;
}

.text-right {
    border:2px solid;
    text-align : right;
}







.qualification{
    text-transform: uppercase;
    text-decoration: overline;
    letter-spacing: 2px;
}
.job{
    text-decoration: underline;
}




.biography > p {
    line-height: 2.5;
    text-transform:uppercase;
    letter-spacing: 3px;
    
}

.page-link > a {
    text-decoration: none;
    border:2px solid;
    padding:15px;
}

a:hover{
    background-color: gray;
    color:white;
}
a:focus{
    background-color:rgb(231, 44, 44);
    color:white;
}