.container1 {
    border: 2px solid brown;
    padding: 30px;
    margin: 20px 1px;
}


.text-center {
    border: 2px solid green;
    text-align: center;
}

.text-left {
    border: 2px solid green;
    text-align: left;
}

.text-right {
    border: 2px solid green;
    text-align: right;
}







.container2{
    border: 2px solid tomato;
    margin: 20px 1px;
    padding: 30px;

    h4 + ul {
        li {
            list-style-type: none;
            /* disc, square, rectangle, none */
        }

        a {
            text-decoration: none;
            /* underline, overline, line-through*/
            line-height: 30px;
            letter-spacing: 2px;
            
        }
    }

}