.container {
    background-color: rgb(217, 69, 69);
    color:white;
    margin:20px;
    padding:25px;
    height: 100px;
    width: 100px;
    text-align: center;
    animation: basicAnimation 15s ease infinite;
}

@keyframes basicAnimation {
    0%{
        background-color: rgb(204, 57, 204);
    }
    10%{
        transform: rotate(360deg);
    }
    25%{
        transform : translateY(200px)
    }
    50%{
        transform : translateX(200px)
    }
    100% {
        transform : scale(1.5) skew(10deg)
    }
}