:root{
      --primary: #3498db;
      --centerText:center;
      --redborder:2px solid red;
      --whiteColor :#ffffff;
      --outlineborder: 2px solid dotted;


}

p {
    color: var(--primary);
    text-align:var(--centerText);
    border:var(--redborder);
}

h1 {
    background-color: var(--primary);
    color: var(--whiteColor);
}
a{
    text-decoration: none;
    letter-spacing: 2px;
    line-height: 2px;
}

a:hover{
    background-color: green;
    color:white;

}

a:focus{
   outline:var(--redborder);
   
}