.container1 {
    display : block;
    background-color: rgb(177, 93, 93);
    color:white;
    padding: 25px;
    margin-bottom: 25px;
    box-shadow: 10px 10px 5px rgb(237, 61, 61);
}

.container2 {
    display : none;
    background-color: rgb(110, 234, 112);
    color:white;
    margin-bottom: 25px;
    padding: 25px;
    box-shadow: 10px 10px 2px gray;
}

.container3 {

    background-color: rgb(93, 43, 84);
    color:white;
    margin-bottom: 25px;
    padding: 25px;
    box-shadow: 10px 10px 2px gray;
}