#btn1 {
    margin:50px;
    padding: 25px;
}

/* Give the space left and right side 20px */
#btn2 {
    padding: 30px 20px 10px 20px; /* TRBL*/
    border-radius: 25px;

}

p {
    border: 2px solid;
    padding: 25px 0 30px 200px;
}