   /**
        # - id
        . - class
        <p,h1,h2> - Element
        * - universal
    **/
   
    * {
        background-color: rgb(83, 98, 196);
        color:white;
        margin:25px;
    }

    #content1{
        font-size: 32px;
        background-color: tomato;
    }