   /**
        # - id
        . - class
        <p,h1,h2> - Element
        * - universal
    **/
   
    * {
        background-color: rgb(140, 150, 212);
        color:white;
        margin:30px;
        padding:0;
    }

    #content1{
        font-size: 32px;
        background-color: tomato;
    }