
.container {
    border:2px solid red;
    margin:25px;
    height:250px;
    max-height: 50px; 
}
 /* max-width
    => if the content is less then 100px size will decrease automatically.
    => if the content is increase 100px above that time overlapping
 */

