h1 {
  background-color: tomato;
  color: white;
}
h2 {
  background-color: #552383;
  color: white;
}
h3 {
  background-color: #a33c77;
  color: white;
}
p {
  background-color: olive;
  color: white;
  font-size: 32px;
}
h4 {
  background-color: brown;
  color: white;
}
