h5 {
  color:white;
  background-color:rgb(84, 32, 80);
}

h1 {
  background-color: tomato;
  color: white;
}
h2 {
  background-color: #552383;
  color: white;
}
h3 {
  background-color: #a33c77;
  color: white;
}
p {
  background-color: rgb(22, 67, 144);
  color: white;
  font-size: 32px;
}
h4 {
  background-color: rgb(172, 80, 80);
  color: white;
}
