
.container1{
    border:2px solid red;
    margin:25px;
    height: 100px;  /* fixed */
}


.container2{
    border:2px solid green;
    margin:25px;
    min-height: 100px;
}

.container3{
    border:2px solid blue;
    margin:25px;
    max-height: 100px;          
}



/**  
   Real Time Example
        Min-hegight : baby
        max-height: boloon
        height : mobile
**/