.container1 {
    visibility: show;
    background-color: rgb(244, 57, 57);
    color:white;
    padding: 25px;
    margin-bottom: 25px;
    box-shadow: 10px 10px 12px gray;
}

.container2 {
    visibility: hidden;
    background-color: rgb(110, 234, 112);
    color:white;
    margin-bottom: 25px;
    padding: 25px;
    box-shadow: 10px 10px 2px #ffff;
}

.container3 {
    visibility: show;
    background-color: rgb(20, 97, 7);
    color:white;
    margin-bottom: 25px;
    padding: 25px;
    box-shadow: 10px 10px 2px gray;
    
}

h1 {
    text-align: center;
    text-shadow: 10px 10px 2px rgb(127, 111, 143);
}