.without-Boxsizing{
    border:3px solid blue;
    box-sizing: content-box;
    width: 200px;
    padding: 20px;
    margin: 20px;
}




.with-Boxsizing {

    border:3px solid green;
    box-sizing: border-box;
    width: 200px;
    padding: 20px;
    margin: 20px;

}



