#para1{
    border:2px solid rgb(102, 102, 226);
    min-height: 50px;
    


}

#para2{
    border:2px solid rgb(161, 66, 59);
    max-height: 50px;
    overflow: scroll;
    /*
        auto
        hidden
        scroll
    */

}