

/**
Pesudo Classes

    :hover
    :visited
    :focus
    :first-child
    :last-child
    :nth-child
    ::after
    ::before

**/

a {
    text-decoration: none;
    color:red;
}

a:hover{
    background-color: violet;
    color:white
}

a:visited{
    color : green;
}