.button1:hover {
    background-color: violet;
    color:white;
}

.button2:active {
    background-color: green;
    color:white;
}

.button2:focus {
  background-color: blue;
  color: white;
}

input:focus{
    background-color: red;
    color :white;
}
