* {
    margin:0;
    padding:0;
 }
header{
    background-color: rgb(155, 81, 81);
    position: sticky;
    top:0;
}


ul > li {
    display:inline-block;
    list-style-type : none;
    /* border:2px solid; */
    padding:25px;
    width:100px;
    margin:30px;
    
}

a {
    text-decoration:none;
     color:white;
    /* letter-spacing:1.5px; */
   
}
a:hover{
    background-color: pink;
}
a:focus{
    background-color: yellow;
}

#education {
    /* border:2px solid red; */
    margin-top:200px;
   box-shadow: 10px 10px 2px gray;
}
#exprience {
    height:700px;
    /* border:2px solid blue; */
    box-shadow: 10px 10px 2px gray;
   
    
}
#skills{
    height:700px;
    /* border:2px solid gray; */
    box-shadow: 10px 10px 2px gray;
   
   
}
#certificate{
    height:700px;
    /* border:2px solid gray; */
    box-shadow: 10px 10px 2px gray;
   
    
}

table{
    /* border:2px solid; */
    padding:75px;
    height: 500px;
    width: 100%;
    text-align: center;
    
}
h3{
    text-shadow: 1.5px 1.5px 1px gray;
}