
* {
    margin: 0;
    padding: 0;
}
/* header setup*/
header {
    display: flex;
    /* border : 2px solid; */
    background-color: rgb(232, 133, 133);
    height:70px;
    padding-top:50px;
}
.logo{
    width: 40%;
}
.title{
    width: 40%;
}
.menu {
    width: 20%;
}
/*Main wrap*/
.main-wrap{
    display: flex;
    /* border : 2px solid; */
   
    height:500px;
}
aside{
    width: 15%;
    background-color: rgb(213, 154, 144);
    box-shadow: 3px 3px 25 gray;
}
main{
    width: 85%;
}
/*footer*/
.people-connect {
    display:flex
}
.dummy{
    width:40%
}

.social-links{
    height: 50px;
    display: flex;
    gap:50px;
    /* position: relative;
    left:600px; */
}

.copyrights{
    height: 50px;
    text-align: center;
}