p {
   border-style: solid;
   border-radius:25px;
   margin  : 200px 150px 0 250px;
   padding : 30px 0 30px 70px;
}

button{
    border-radius:25px;
    margin: 100px 200px;
    padding: 25px;
}

img {

    border-radius: 150px;
}

table{
    margin-left:25px;
}

tr,th,td {
    border: 2px solid tomato;
    text-align: center;
    padding:10px;
    
   
}

