.container1{
    border:2px solid;
}

.container1 > p {
    border : 2px solid red;
    display : inline;
}

.container2{
    border:2px solid;
}

.container2 > p {
    border : 2px solid red;
    display : inline-block;
}