.container1,.container2 {
    display:none;
    /* visibility: hidden; */
    border:2px solid;
}

.container3> p,h1 {
    display: inline-block;
    border:2px solid;
    margin:20px;
    padding:20px;
}

.container4> a {
    border:2px solid;
    display: block;
    margin:25px;
    padding:25px;
}