header{
    height:75px;
    background-color: brown;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap:5px;
}
.container div{
    /* background-color: tomato; */
    color:rgb(34, 11, 120);
    height: 400px;
}

footer{
    background-color: violet;
    height: 70px;
}
