.container {
    display: grid;
    grid-template-columns: repeat(5,1fr);  /*2 column*/
    grid-template-rows: repeat(2,1fr);
    gap:50px;
}

.container div{
    border:2px solid;
    background-color: tomato;
    color:white;
    text-align: center;
    height: 100px;
    padding-top:50px;
}