


.basic-understand{
    display: flex;
    flex-direction: row;
    gap:12px;
    justify-content: center;
    flex-wrap: wrap;
    /* align-items: baseline; */

    p {
  
        background-color: tomato;
        height: 100px;
        width:150px;
        text-align:center;
        padding-top:75px;
   

    }
    
}


