 .container  {
    background-color: tomato;
    color:white;
    height: 100px;
    width: 150px;
    text-align: center;
    padding-top: 50px;
    transition: all 0.5s ease;
}

.container:active{
    transform: translateX(200px)  translateY(200px) scale(1.5) rotate(360deg);
}