 .container  {
    background-color: tomato;
    color:white;
    height: 100px;
    width: 150px;
    text-align: center;
    padding-top: 50px;
    transition: all 15s ease;
    animation: basicAnimation 10s ease 2;
}

.container:hover{
    
    transform: translateY(500px) scale(1.5)
}

@keyframes basicAnimation {
    0% {
        height: 300px;
    }
    25% {
        transform: skew(20deg);
    }
    50%{
         transform: rotate(360deg);
    }
    75%{
         transform: translateX(200px);
    }
    100%{
         transform: translateY(200px);
    }
}