 .container  {
    box-shadow: 10px 10px 2px gray;
    background-color: tomato;
    color:white;
    height: 100px;
    width: 150px;
    text-align: center;
    padding-top: 50px;
    animation : my-animation 3s ease infinite
}

@keyframes my-animation {
   0% {
      transform: rotate(360deg);
   }
   
   
}
