p {
    border:2px solid red;
   
}



@media ( (max-width:378px)){
    
    
    p {
        border:5px solid green;
        max-width: 100px;
    }
}
/* Samsung glaxy*/
@media ((min-width:379px) and (max-width:431px)){
    
    p {
        border:5px solid blue;
        max-width: 100px;
    }
}

@media ((min-width:431px) and (max-width:441px)){
    
    p {
        border:5px solid yellow;
        max-width: 100px;
    }
}