
p {
    background-color: tomato;
    color :white;
}

@media(max-width:431px){
    p {
        background-color: green;
        color:white;
    }
}


@media((min-width:431px) and ( max-width:850px)){
    p {
        background-color: blue;
        color:white;
    }
}